*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    /* text-align: center */
  }
  .main {
    text-align: center
  }

  .buttonsAlign {
    text-align: center
  }

h1 {
    text-align: center;
    font-size: 6rem;
    color: gold;
    font-weight: bold;
}


h2 {
    padding: 2rem;
    color: white;
    font-weight: bold;

}

.chooseButton {
    font-size: 4rem;
    padding-left: 3rem;
    border-radius: 4rem;
    padding-right: 3rem;
    font-weight: 900;
    background-color: black;
    border-radius: 25px;
    border-color: white;
    color: white;
    margin: 3rem
}
button:hover {
    background-color:white;
    color: black
}

.header {
    left:1rem;
    padding: 1rem

}